.home .x-button {
    background-image:none;
    background-color:transparent;
    border:0;
    padding:0.2em 0;
}
.home .x-button .x-button-label {
    font-weight:normal;
    color:#3F444A;
    font-size:.7em;
    border: 0;
    margin-top:.25em;
}
.home .x-button .x-button-icon {
    font-size:1.8em;
    border: 0;
    width: 64px;
    height: 64px;
}
